body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 14px;
}
#description {
  border: 2px solid #999;
  padding: 2em;
  margin: 2em;
}
#lead {
  font-size: 1.2em;
  color: #666;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}

nav.top ul {
  display: flex;
}
nav.top ul li {
  margin: 0px;
  padding: 10px 25px;
  border: 2px solid #666;
  border-collapse: collapse;
  background-color: cornsilk;
  list-style: none;
}
nav.top ul li:hover {
  margin: 0px;
  padding: 10px 25px;
  background-color: blanchedalmond;
  border: 2px solid #333;
  border-collapse: collapse;
  list-style: none;
  display: block;
}
