body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 14px;
}
#description {
  border: 2px solid #999;
  padding: 2em;
  margin: 2em;
}
#lead {
  font-size: 1.2em;
  color: #666;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}

nav.top ul li {
  display: flex;
  list-style: none;
}
